.accordionItemHeading:after {
    content: url(../../assets/images/right-arrow.png);
    height: 20px;
    width: 20px;
    position: absolute;
    right: 8px;
    top: 11px; z-index: 9;
}



.open .accordionItemHeading:after{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
}
.accordionWrapper{padding:1rem;}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px #ccc; 
    margin-bottom: 10px;
    border-radius: 4px;
}
.accordionItemHeading{
    cursor:pointer;
    padding:10px;
    width:100%;
    border-radius: 3px;
    box-sizing: border-box; 
    position: relative;
    font-size: 18px;
    background: transparent; 
    margin: 0;
}
.accordionItemHeading span {font-size: 12px;padding: 6px 10px;border-radius: 50px; color:#fff;}
.closed .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .accordionItemContent{
    padding: 20px;
    background-color: #fff;
    width: 100%;
    display:block;
    -webkit-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	transform-origin: top;
	transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
	transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
    border-radius: 0 0 4px 4px;
    
}

.open .accordionItemHeading{
    margin:0px;
        -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


