ul.create-profile {padding:0;margin: 0;}
ul.create-profile li {display: flex;margin-bottom: 7px;}
ul.create-profile li .create-profile-left {flex-flow: column;width: 40%;color: #82CBD1;}
ul.create-profile li .create-profile-right {width: 60%; padding-right:25px; position: relative;}
ul.create-profile li .create-profile-right span{position: absolute; right: 0; top: 0;}
.admin-btn button{padding:2px 5px;font-size:11px;margin:0 2px;}
.admin-btn span{padding:2px 5px;font-size:11px;margin:0 2px;}