#tabbed-content ul.tabs{display:flex;padding:0;border-bottom:1px solid #E5E5E5;padding:0 1rem;}
#tabbed-content li{align-content:space-around;list-style:none;flex:auto;padding-bottom:1rem;cursor:pointer;font-size:14px;}
#tabbed-content .panel{display:none;}
#tabbed-content .panel.active{display:block;}
ul.category-ul{margin:0;padding:0;}
ul.category-ul li{margin:0 0 0 0;padding:7px !important;cursor:pointer;}
ul.category-ul li .cate-img{width:32px;height:32px;box-shadow:1px 1px 10px #ccc;border-radius:5px;display:inline-block;background-color:#fff;margin-left:10px;}
ul.category-ul li .cate-img img{width:32px;height:32px;border-radius:5px;}
ul.category-ul li.active{background:#DEF8FB;border-radius:5px;}
.calc-modal{height:calc(100vh - 210px);padding:1rem 0;}
.calc-inner-modal{height:calc(100vh - 290px);overflow:auto;}
.modal-custom{text-align:center;}
.modal-custom:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-4px;}
.modal-custom-dialog{display:inline-block;text-align:left;vertical-align:middle;width:370px;}
.chat-message img{border-radius:50%;float:left;margin-top:5px;}
.chat-message-content{margin-left:45px;}
.chat-time{float:right;font-size:10px;}
#live-chat h5{font-size:10px;}
.chat-message-content h5{font-size:16px;margin:0 0 3px 0;}
.chat-message-content p{font-size:14px;margin:0;}
.divider{border-bottom:1px solid #E5E5E5;padding:0 1rem;}
.modal-padding{padding:0 1rem;}
#SelectValue .chat-message-content{padding-right:65px;}
#SelectValue button{position:absolute;top:21px;right:15px;}
#SelectValue .edit-icon img{text-align:center;float:none;}
#SuppliersModal .modal-body button{display:none;}
#SelectValue .chat-message-content p{margin:0;}
#SuppliersModal .modal-body .chat-message{border-bottom:1px solid #E5E5E5;padding-bottom:10px;margin-bottom:10px;cursor:pointer;}
#SuppliersModal .modal-body .chat-message:last-child{border-bottom:0;padding-bottom:0;margin-bottom:0;}
ul.tabs li.active{content:'o';position:relative;padding-left:15px;}
ul.tabs li.active:after{content:'o';position:absolute;color:#4463FF;left:0;}
.none{display:none;}


/* Price & Rate  */
ul.price-ul{background: #F5F5F5;padding:15px 0 15px 15px;margin: 0;border-radius: 4px;border: 1px solid #E5E5E5;}
ul.price-ul li{margin-bottom:10px;width:24%;list-style: none; padding-right: 15px; display:inline-block;}
ul.price-ul li .price-left{width: 100%; margin-bottom: 5px;font-weight: 500;}
ul.price-ul li .price-right{width: 100%;text-overflow: ellipsis;color: #7b7b7b;font-size: 12px;white-space: nowrap;  overflow: hidden;}
.seller-h2{background: #227b82;text-align: center;padding: 10px 0;color: #fff;}


/* Tabs */


/* Tabs */
.tab-nav {display:flex;padding:0;border-bottom:1px solid #E5E5E5;padding:0 1rem; margin-bottom: 1rem;}
.tab-link {align-content: space-around;list-style: none;flex: auto;cursor: pointer;font-size: 14px;text-decoration: none;    position: relative;padding: 10px 20px;text-align: center;border-radius: 5px;margin-bottom: 15px;}
.tab-link.is-active {background: #B1E4E8;}
.tab-link:last-child {margin-right: 0;}
.tab-link:hover {text-decoration: none;color: #227B82;}
/* Tab Content */
.tab-content {display: none;}
.tab-content.is-active {display: block;}
.tab-contents {margin-bottom: 100px;}
.tab-link.is-completed:after{content: url(../../assets/images/right-icon.png);position: absolute; left: 0; top:0;}
