main{padding-top:74px; padding-bottom:30px;padding-left: 30px !important;padding-right: 30px !important;}
.table{font-size: 14px;}
.table-sm th, .table-sm td {padding: 0.5rem;}
.table thead th {background: #F5F5F5;border-color: #f5f5f5;color: #504f4f;font-weight:600;}
.table-striped tbody tr:nth-of-type(odd) {background-color: transparent;}
.table-striped tbody tr{border-bottom: 1px solid #E6E6E6;}
.action-btn-i {text-align: center;width: 100%;display: block; position: relative;}
.action-btn-i ul {margin: 0;padding: 0;}
.action-btn-i ul li{list-style: none; width:4px; height: 4px; background: #777777; border-radius: 50px; display: inline-block;}
.action-btn-i .show-invoice{display: none; position: absolute; list-style: none;bottom:0;right: 0;width:150px; box-shadow:1px 1px 7px 1px #ccc;background: #fff;padding: 10px;}
.action-btn-i:hover .show-invoice{display: block;}
ul.show-invoice li{width: 100%;background: transparent; padding:5px; height: auto;border-radius: 0;text-align: left; cursor: pointer;}
ul.show-invoice li:hover{background:#DEF8FB;}


#db_blockchain .table-responsive {
		max-height: 428px;
	}

	.sub-table {
		border: solid 1px #eee;
		padding: 9px 0;
		margin: 0 0 20px;
		box-shadow: 0 0 10px #eae3e3;
	}


	.bk_details li label {
		font-size: 14px;
		font-weight: 600;
		color: #466366;
		padding-right: 20px;
		min-width: 110px;
		float: left;
	}

	.bk_details li .row {
		margin: 0;
	}

	.bk_details ul {
		padding: 10px 0;
	}

	.bk_details li {
		list-style: none;
		border: solid 1px #eee;
		padding: 20px 20px;
		margin: 0 0 15px;
		box-shadow: 0 0 10px #eae3e3;
		display: inline-block;
	}

	.bk_details .swatch-green {
		color: #227B82;
	}

	.bk_details li span {
		font-size: 13px;
		font-weight: 400;
		color: #888;
		float: left;
		margin-bottom: 15px;
	}

	.bk_details li .row.design-row {

		margin: 20px 0px 0;

	}

	.action-btn-i .show-invoice {

		bottom: -30px;

	}




ul.seller-vertical{display: table;padding: 0; vertical-align: top;}
ul.seller-vertical li{display: table-cell; list-style: none;border: 1px solid #227b82;}
ul.seller-vertical li:nth-child(1){background: #227b82; width: 50px; vertical-align: middle;}
ul.seller-vertical li:nth-child(1) span{width: 100%;font-size:20px;display: block;text-align: center;color: #fff;}
ul.seller-vertical li .table-sm th, .table-sm td {padding: 0.5rem;}


ul.seller-vertical-buyer{display: table;padding: 0; vertical-align: top;}
ul.seller-vertical-buyer li{display: table-cell; list-style: none;border: 1px solid #1ea3ae;}
ul.seller-vertical-buyer li:nth-child(1){background: #1ea3ae; width: 50px; vertical-align: middle;}
ul.seller-vertical-buyer li:nth-child(1) span{width: 100%;font-size:20px;display: block;text-align: center;color: #fff;}
ul.seller-vertical-buyer li .table-sm th, .table-sm td {padding: 0.5rem;}


.seller-vertical .table-responsive{min-height: 50px;}
.seller-vertical-buyer .table-responsive{min-height: 50px;}


.seller-vertical .file-browse {line-height: initial;}
.seller-vertical .btn-sm, .btn-group-sm > .btn {font-size: 0.775rem;line-height: 1.2;}

.seller-vertical-buyer .file-browse {line-height: initial;}
.seller-vertical-buyer .btn-sm, .btn-group-sm > .btn {font-size: 0.775rem;line-height: 1.2;}


.accordionItemContent table input{padding: 5px; height: 30px;}
.accordionItemContent table td, th{padding: 5px; vertical-align: middle;}
/*

thead {
    display: inline-block;
    width: 100%;
    height: 20px;
}
tbody {
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}


*/

.table-custom tr td {border-top: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;}
.table-custom tr th {border-top: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;border-top: 1px solid #ccc;}
.table-custom tr th:last-child {border-right: 1px solid #ccc;}
.table-custom tr td:last-child {border-right: 1px solid #ccc;position: relative;}
.table-custom tr td:nth-child(1) {position: relative;}

.table-custom b, strong {
    font-weight: 600;
    color: #504f4f;
}

.plus-icon {
    position: absolute;
    right: 7px;
    cursor: pointer;
    padding-left: 10px;
    line-height: 31px;
    top: 0;
}

/*
.plus-icon {
    position: absolute;
    right: 7px;
    cursor: pointer;
    top: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    text-align: center;
    padding: 0px 3px;
    line-height: 22px;
}*/

