 form {
 	.form-control {
 		font-size: $font-size-base - 0.20;
 		color: $black;
 		@include border-all(1px, solid, $input-border-color);
 		height: 40px;

 	}

 	.section-header {
 		background: $darkgreen;
 		color: $white;
 		position: relative;

 		button {

 			@include close-model;
 		}

 		@include margin-all(0, 0, 0, 0) h4 {
 			font-size: $form-top-heading;
 			color: $white;
 			@include padding (11px, 20px, 11px, 20px);
 		}
 	}
 }

 .fil-uploaddiv {
 	display: block;
 	margin: 0 10px;
 	background: #fff;
 }

 .file-icon {

 	@include border-radius(50px, 50px, 50px, 50px);
 	background: #DEF8FB;
 	height: 38px;
 	width: 38px;
 	line-height: 38px;
 	text-align: center;
 	display: inline-block;
 	margin-right: 10px;
 }
.file-browse{position: relative}
 .file-browse input {
 	opacity: 0;
position: absolute;
top: 9px;
left: 0;
cursor: pointer;
width: 33px;
 }

 .file-name {
 	display: inline-block;
 	background: #CCE7F0;
 	padding: 7px 10px;
 	border-radius: 18px;
 	height: 35px;
 	margin-right: 10px;
 	color: #0085BA;
 	font-size: 14px;
 	margin-top: 10px;
 }

 .close-file {
 	padding: 0 7px 0 20px;
 	float: right;
 	background: transparent;
 	border: 0;
 	outline: 0;
 	font-size: 16px;
 	color: #707070;
 	line-height: 20px;
 	font-weight: 600;
 }

 .form-control.textarea {
 	min-height: 134px;
 }


 .form-sections {
 	border: solid 1px #eee;
 	margin: 30px 0;
 	box-shadow: 0 4px 10px #f2eaea;position: relative;
 }

button.close {
    float: right;
    border: 0;
    outline: 0;
    font-size: 16px;
     margin: 0;
    background: #8b9f99;
    color:  $white;
    opacity: 1 !important;
    right: -9px;
    position: absolute;
    top: -9px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    padding: 0 0 4px;
    border-radius: 31px;
    box-shadow: 0 0 4px $darkgreen;
    font-weight: normal;
	
	&:hover{color: $white}
}

.btn-upload {
    border: solid 1px #68847a;
    color: #68847a;
}
 button.delete-btn {
    border: solid 1px #c12e2e;
    color: #c12e2e !important;
}


p .add-btn {

    background:$white;
    position: absolute;
    width: 121px;
    right: -15px;
    top: -12px;
    color: #3e8880;
    border: solid 1px $darkgreen;
	
	&:hover{color: $darkgreen}

}