@mixin border-all($width, $style, $color) {
	border-width: $width;
	border-style: $style;
	border-color: $color;
}

@mixin margin-all($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;

}

@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
	border-top-left-radius: $top-left;
	border-top-right-radius: $top-right;
	border-bottom-right-radius: $bottom-right;
	border-bottom-left-radius: $bottom-left;

}

@mixin padding ($top, $right, $bottom, $left) {

	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin shadow {

	@include box-shadow(0, 0, 10px, #dddada);
}

@mixin close-model {

	position: absolute;
	right: 14px;
	top: 9px;
	color: #fff;
	opacity: 1;
	border: solid 1px #fff;
	line-height: 8px;
	padding: 6px 6px 10px;
	float: none;
	font-weight: normal;
	font-size: 17px;
	border-radius: 3px;

}







