@mixin progressbar-icon {

	width: 50px;
	height: 50px;
	text-align: center; 
	@include border-radius(50px, 50px, 50px, 50px);
	line-height: 50px;
	vertical-align: middle;
	border: 3px solid #e1e1e1;
	@include padding (8px, 8px, 8px, 8px);
}

#progressbar {
	@include margin-all(0, 0, 0px, 0);
	overflow: hidden;
	counter-reset: step;
	@include padding (10px, 0px, 0px, 0px);
	position: relative;
	width: 100%;

	&:after {
		position: absolute;
		width: 100%;
		height: 2px;
		background: $eee-color;
		content: '';
		left: 0;
		bottom: 24px;
		z-index: 1;
	}

	li {
		list-style-type: none;
		color: $blackcolor;
		width: 20%;
		float: left;
		position: relative;
		text-align: center;
		cursor: pointer;

		&:last-child {
			border-right: 0;
		}

		&.active {
			color: $darkgreen;
		}

		.count-top {
			@include progressbar-icon;
			display: block;
			background: #f1f1f1;

			img {
				width: 100%;
				vertical-align: top;
				height: 100%;
			}

		}

		.count-bottom {

			@include progressbar-icon;
			display: none;
			background: #2a8b6a;


			img {
				width: 100%;
				vertical-align: top;
				height: 100%;
			}
		}

		&.active .count-top {
			display: none;
		}

		&.active .count-bottom {
			display: block;
		}

		.count-heading {
			font-size: $font-size-base;
			float: left;
			width: 100%;
			@include padding (0px, 0px, 5px, 0px);
		}

		&.count-active .count-top {

			background: $light-green;
			border-color: $light-green2;

		}

	}

	.top-circle-bg {
		display: inline-block;
		position: relative;
		z-index: 2;
	}
}
