//color//

$blue : #0f9aee;
$darkgreen : #2a8b6a;
$black : #253953;
$input-border-color : #cacdd1;
$eee-color : #eee;

$blackcolor : #31302f;
$light-green :#cff0e4;
$light-green2: #d3e6df;
 
    
$btn-add: #8faa98;
$btn-add-border: #8faa98;

    
$btn-add-hover: #75a485;
$btn-add-border-hover: #75a485;


 $white: #ffffff; 


//font-size//

$form-top-heading : 1.5rem;
