//color//

$blue : #0f9aee;
$darkgreen : #2a8b6a;
$black : #253953;
$input-border-color : #cacdd1;
$eee-color : #eee;





//font-size//

$form-top-heading : 1.5rem;


	
	
	



 

 
