@import 'bootstrap/_bootstrap';
@import 'custom/_variables';
@import 'custom/_header';
@import 'custom/_sidebar';
@import 'custom/_breadcrumb';
@import 'custom/_filter';
@import 'custom/_table';
@import 'custom/_contractdetails';
@import 'custom/_commodities';
@import 'custom/_bording';
@import 'custom/_tooltip';
@import 'custom/_login';
@import 'custom/_createcontract';
@import 'custom/_radio_check_box';
@import 'custom/_date';
@import 'custom/_accordion';
@import 'custom/_profile';
@import 'custom/_shipment';
@import 'custom/_administrator';
@import 'custom/_notification';
body{color:#000000;font-family: 'Open Sans', sans-serif; font-size: 14px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: normal;color:#000000;font-family: 'Quicksand'; font-weight: 500;}
.swatch-green{background:#F5F5F5;color:#227B82;padding:5px 10px;border-radius:50px;}
.swatch-yellow{background:#FFF3F3;color: #9C9C9C;padding:5px 10px;border-radius:50px;}
.swatch-red{background:#000;}
.swatch-blue{background:#000;}
.green{color:$green;}

.bb-1{border-bottom: 1px solid #E6E6E6;}

.custom_input{
width: 80%;
}
.plus-icon { right: 7px; 
top: 11px;
}

    
    
    
    
    
    