*{padding:0px; margin:0px;}
.login_bg{background:url(./bg.jpg) no-repeat; width:100%; background-size:cover;}
.lenevo_layout{background: #fff; margin-top: 50px;}
.heading_color{background: #385773;}
.lenevo_layout_login{background: #fff; margin-top: 50px; margin-botom: 200px;}