 body{ font-size:14px;}
.verify-owner-no-cls {
    position: absolute;
    right: 0px;
    padding: 1px 8px;
    background: #138864;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0px;
    line-height: 36px;
    min-width: 65px;
    text-align: center;
    top:29px;
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 14px;
}
.postion-r{
	position:relative;
}

.main-menu {
    display: flex;
    padding-bottom: 0;
    margin: 0;
    width: calc(100% - 80px);
    border-bottom: 2px solid #138864;
    margin-left: 80px;
    padding-left: 0;
    background: #e1f0eb;
	
}
.btn-action-btn {
    border: 1px solid #138864;
}
.inline-action-btn a {
    margin: 0px 5px;
}
.sr-no {
    color: #138864;
    font-weight: 700;
}
.sub-title-bg {
    text-align: left;
    font-size: 18px !important;
    font-weight: 700;
    background: #e8e8e8;
}
.sidebar .nav .nav-item:hover > .nav-link{
    background: #138864;
    color: #fff;
}
.sidebar .nav .nav-item > .nav-link:hover i,.sidebar .nav .nav-item > .nav-link:hover span{
    color: #fff;
}
.sidebar .nav.sub-menu .nav-item:hover .nav-link {
    background: transparent;
    color: rgba(73, 80, 87, 0.79);

    text-decoration: underline;
}
table.table-td-right td {
    border-right:1px solid #ececec;
}
.inline-action-btn a{
	color:#138864;
}
.check-table{
	position: relative;
    top: -15px;
}
.btn-pickup {
    border: 1px solid #138864;
    border-radius: 4px !important;
    margin: 0px 5px !important;
}

.main-menu li {
    /* flex: 1; */
    text-align: center;
    padding: 0 00px;
}
.main-menu li a{
    text-align: center;
    padding: 10px 25px;
	display:inline-block;
	color:rgba(0, 0, 0, 0.5);
	text-decoration:none;
    position: relative;
}
.main-menu li a.active,.main-menu li a:hover{
	background-color:#138864;
	color:#fff;
}

.sub-menu-main{
    display: flex;
    padding-left: 80px;
    padding-bottom: 0;
	margin:10px 0 10px 0;
	
}
.sub-menu-main li {
    /* flex: 1; */
    text-align: center;
    padding: 0 00px;
}
.sub-menu-main li a{
    text-align: center;
    padding: 5px 18px;
	display:inline-block;
	color:rgba(0, 0, 0, 0.5);
	text-decoration:none;
	border-bottom:2px solid transparent;
}

ul.main-menu li a.active:after,.main-menu li a:hover::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left:0;
    right: 0;
    width: 0px;
    margin: auto;
    border: 15px solid transparent;
    border-top-color: #2a8b6a;
    text-align: center;
}



table.remove-tr-bg tbody tr{
	background:transparent !important;
}
.greentr-bg{
	background:#138864;
}
.greentr-bg th{
	color:#fff;
}
.sub-menu-main li a.active,.sub-menu-main li a:hover{
	color:#138864;
	border-color:#138864;
}
.change-status-toggle{display:none;}
.lastli-inline td:last-child{display:flex;}
.lastli-inline td:last-child a{margin-left:10px}
.error_message_label{
	color:#ff0000;	
}

.content-header{position:relative;padding: 12px 15px;background-color:#fff;border-bottom:0px solid #e1e6ef;margin-bottom:20px;box-shadow: 0px 0px 7px #c3d3eb;display: flex;    align-items: center;}
 .content-header hr{border-top:1px solid #ddd;}
 .content-header .header-title{margin-left: 00px;}
 .content-header .header-icon{font-size:40px;color:#138864;width:60px;float:left;line-height:normal;}
 .content-header .header-title h3{margin:0;font-size:20px;color:#374767;}
 .content-header .header-title small{font-size:13px;display:inline-block;padding-left:4px;font-weight:600;color:#7a7a7a;}
.header-title .breadcrumb{float:right;background:#fff;margin-top:0;margin-bottom:0;font-size:13px;padding:7px;position:absolute;bottom:18px;right: 15px;border-radius:0;border:0px solid #e1e6ef;font-weight:600;}
 .header-title .breadcrumb > li{display:inline-block; font-weight:600;}
 .header-title .breadcrumb > li > a{color:#374767;text-decoration:none;display:inline-block; font-weight:400;}
 .breadcrumb > li + li::before{padding:0 5px;color:#ccc;content:"/\00a0";}
 .breadcrumb>.active{color:#138864;font-weight:700;}
 .header-title .breadcrumb > li > a > .fa, .header-title .breadcrumb > li > a > .glyphicon, .header-title .breadcrumb > li > a > .ion{margin-right:5px;}
 
/**Anil**/


#PermissionsForm ul li {
    float: left;
    width: 25%;
    margin: 0 0 3px 0;
    list-style-type: none;
    min-height: 255px;
}
#PermissionsForm ul li:nth-child(1) {
    min-height: 310px;
}
#PermissionsForm ul li label {
    font-size: 14px;
    font-weight: 600;
}
#PermissionsForm ul li input[type="checkbox"] {
    margin-right: 8px;
}
#PermissionsForm ul li:nth-child(2) {
    min-height: 310px;
}
#PermissionsForm ul li ul {
    padding: 0 0 0 20px;
    margin: 0;
}

#PermissionsForm ul li ul li:nth-child(1) {
    min-height: 10px;
}
#PermissionsForm ul li ul li {
    display: block;
    width: 100%;
    min-height: 10px;
}
#PermissionsForm ul li ul li:nth-child(3) {
    min-height: 10px;
}
#PermissionsForm ul li ul li:nth-child(4) {
    min-height: 10px;
}

#PermissionsForm ul li ul li:nth-child(2) {
    min-height: 10px;
}

#PermissionsForm ul li ul li label {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}


.color-green {
    font-size: 12px;
}
.font-fa-pencil {
    font-size: 20px;
    margin-right: 5px;
}

/**end**/ 
 
 .form-head-h5{
    color: #000;
    /* margin: 20px 0; */
    font-size:18px;
    line-height: 28px;
}

.verify-owner-no {
    position: absolute;
    right: 16px;
    padding: 1px 8px;
    background: #138864;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0px;
    line-height: 34px;
    min-width: 65px;
    text-align: center;
    top:29px;
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 14px;
    cursor: pointer;
}

.INR .verify-owner-no {
    left: 16px;
    right: auto;
    background: transparent;
    color: #656060 !important;
    font-size: 14px;
    min-width: 30px;
	/*top: 32px;*/
}
.INR input {
    padding-left: 30px;
}
.card-color .card-header {
    background: #f1f1f1;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: solid #adbdb8;
    font-size: 16px;
    line-height: 28px;
}
.accordion .card-header.collapsed:after {
    content: "+";
    position: absolute;
    right: 15px;
    color: #000;
    cursor: pointer;
	font-size: 25px;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "-";
    float: right;
    position: absolute;
    right: 15px;
    color: #000;
    cursor: pointer;
	top:4px;
    font-size: 25px;
}


.sameas {
    position: absolute;
    top:19px;
    right: 40px;
    font-size: 14px;
    display: flex;
    align-content: center;
    line-height: 10px;
    color: #138864;
}
.card-color {
    margin-bottom: 15px !important;
   
}
.add-btn-cls {
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
	color: #138864;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
 
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
} 
 
.file-browse {
    position: relative;
} 
 .btn-upload {
    border: solid 1px #68847a;
    color: #68847a;
    background: transparent;
    padding: 3px 8px;
    border-radius: 2px;
}
.file-browse input {
    opacity: 0;
    position: absolute;
    top: 9px;
    left: 0;
    cursor: pointer;
    width: 33px;
	visibility:hidden;
}

.max-height-table{max-height:500px;overflow:auto;}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    top: 0;
}
 .upload-btn-wrapper .btn {
    border: 1px solid #30878e;
    color: #30878e;
    background-color: transparent;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
	top: 0px;
}
.document-list li {
    margin: 5px 5px 5px 5px;
    border-radius: 18px;
    padding: 6px 10px 6px 10px;
    color: #227B82;
    background: #DEF8FB;
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
}
.document-list li a {
    color: #227B82;
}

.custom-promoter {
    border-bottom: 
    #cecece solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.document-list {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    list-style: none;
    padding: 0px;
	margin:0px;
}

.setupload-btn {
    top: 0px;
    left: 10px;
}

.position-seta {
    position: relative;
   
}

.close-cls{
    float: right;
    border: 0;
    outline: 0;
    font-size: 13px;
    margin: 0;
    background: #8b9f99 !important;
    color: #ffffff !important;
    opacity: 1 !important;
    right: -34px;
    position: absolute;
    top: -43px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    padding: 0 0 4px;
    border-radius: 31px;
    box-shadow: 0 0 4px #2a8b6a;
    font-weight: normal;
}

.btn-report {
    background: transparent;
    border: 1px solid #2a8b6a;
    color: #2a8b6a;
    padding: 3px 10px;
    border-radius: 2px;
}
 .page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color:#138864;
    border-color:#138864;
}

.page-item .page-link{
	color:#138864;
} 




 
 
 
  /*chandan*/
.inner-container{ width:100%; float:left;}
.overview-table >thead> tr > th{background:#138864; color:#fff; border-left: 1px solid #199e75;
 
    vertical-align: top;}
.overview-table.table td{border-left: 1px solid #e9ecef; vertical-align:middle;   position: relative;  }
	.data{    border: 1px solid #e9ecef;
              padding: 0px;
   }
.sub-title{    font-size: 15px;
   }	
.sub-title.bg{ background: #8a8989;
    padding:10px 15px;  
  
    color: #fff;

   
}

.half-width {
    width: 48%;
    float: left;
    margin: 0 1%;
}
ul.form-row-inline {
    padding: 0;
    list-style: none;
}
ul.form-row-inline .li-row {
  
    padding: 4px 0;
	margin-bottom:10px;
}
.li-group.col-md-6 {
    border: 1px solid #f2f2f2;
    padding: 0px 8px;
}
.table th, .table td{ padding:.5rem;}
 .rating > input {display: none;}
.rating > label {color: #ddd;float: right;cursor: pointer;}
.rating > label:before {margin:0 5px;font-size: 1.25em;font-family: FontAwesome;display: inline-block;content: "\f005";}
.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {color: #FFD700;}
.rating > .half:before {content: "\f089";position: absolute;}
.rating {border: none;float: left;}
.accordion .card-header.none:after {
display:none;
}
 .accordion .card .card-header {
    background-color: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    padding:9px 15px;
}
.colsp {
       border: 1px solid #d4d4d4;
    padding: 15px;
    margin-top: -1px;
}
.doc{
    width:95px;
    float: left;
	margin-right:25px;
    }
.doc .icon{font-size: 40px;
    padding: 10px 0;
    display: inline-block;}	
.doc ul{ padding:0; margin:0px;border: #ccc solid 1px;}
.doc li{    text-align: center;
    font-size: 25px;
    line-height: 7px;
    padding: 3px 0 7px;}
	.doc li:first-child+li{background:#dedede;}
		.doc li:first-child+li+li{background:#138864;}
.doc li a{font-size:11px;}
.doc li:first-child+li a{color:#000;}
.doc li:first-child+li+li a{color:#fff;}
.bank-custom{      width: 185px;
    padding: 0.3rem 0.75rem;
    height: calc(2rem + 2px) !important;
    position: absolute;
    top:8px;
    right: 130px;
    font-size: 14px;}
.accordion.d-table .card .card-header a{display:block; margin:0px;}
.setupload-btn.pos{    
position: absolute;
    right: 41px;
    left: auto;
    top:8px;
	
	}
	.upload-btn-wrapper.pos .btn {
    border: 1px solid #30878e;
    color: #ffffff;
    background-color: #30878e;
    padding:4px 18px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
}
.dpr{ display:none;}
.trigger{
	    font-weight: bold;
    font-size: 24px;
	cursor:pointer;
	position:relative;
	
	
}
.trigger:after{
    font-family: 'FontAwesome';
    content: "+";
    float: right;
    position: absolute;
    right: 0px;
    color: #138864;
    cursor: pointer;
    top: -11px;
    font-weight: normal;
    font-size: 16px;
}
.trigger.minus:after{
    font-family: 'FontAwesome';
    content:"-";
    float: right;
    position: absolute;
    right: 0px;
    color: #138864;
    cursor: pointer;
    top: -11px;
    font-weight: normal;
    font-size: 16px;
}
.form-control::placeholder,input.form-control[type=date]{ color:#c5c5c5; font-size:14px;font-family: 'source-sans-pro-regular', sans-serif; letter-spacing:1px;}
select.form-control{/*color:#c5c5c5;*/ font-size:14px; letter-spacing:1px;}
.table td{ font-size:13px;}
  /*chandan*/
 
 .full-width{width:100%;}
.table.overview-table .btn {
    padding: 0.1rem .3rem;
    vertical-align: top;
    line-height: 18px;
    margin-left: .2rem;
}

.btn-success {
    color: #fff!important;
    background-color: #30878e;
    border-color: #30878e;
} 
table.overview-table td .badge { margin-bottom:0px;}
span.mandatory {
    color: red;
} 

.form-head{
    background: #e1f0eb;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: solid #adbdb8;
    margin: 20px 0;
    font-size: 16px;
    line-height: 28px;
}

.wizards ul{    display: flex;
    justify-content: space-around;
    padding: 0;}
.wizards ul li{    width: 25%;
   
      position:relative; z-index:9; text-align:center;}
	  .wizards ul li span{ display:block; margin-top:5px;  font-size: 15px;}
	   .wizards ul li.active span{font-weight:bold;}
.wizards ul li a{     width:60px;
    height: 60px;
    background: #efefef;
    border-radius: 50px;
    display: inline-block;
 
    color: #848484;
  
   position:relative;}

		.wizards{ margin-bottom:35px;}
	.wizards ul li:after{ content:""; width:100%; height:2px; background: #efefef; position:absolute; top:31px; left:0; z-index:-9;}
		.wizards ul li.active:after{background:#138864;}
 .wizards ul li.active a{ background:#138864; color:#fff;}
  
.w-content{display:none;}
.w-content.active{display:block;}

	.col-md-offset-2{ margin-left:16.6667%;}
	p.bg{
		
		background: #7d7d7d;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
	}

 .sidebar .nav.sub-menu {
    padding-left:1.5em;
}
.sidebar .nav .nav-item .nav-link {
  
    padding: .6rem 1rem;
  
}
 
 .sidebar .nav.sub-menu .nav-item .nav-link {
    padding: .5em 1em;
	    white-space: inherit;
}
.max-height-table {
max-height: 500px;
overflow: auto;
}
label.col-md-4 {
 
    margin: 0;
}
.sub-progrem span.btn-default {
    background: #ddd;
    padding:0.7rem 0.75rem;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;font-weight: bold;}
.documents-detail .panel-heading {
    background: #fff;
    box-shadow: 0px 0px 2px 0px #ddd;
    border-radius: 4px;
    border: none;
}
.panel-heading h4 {
    margin: 0;
    line-height: 26px;
    letter-spacing: .5px;
}
.panel-title > a {
    color: inherit;
    font-size: 16px;
    display: block; text-decoration: none;
    padding: 10px 15px;
}

.panel-title > a:before {
    float: right;
    font-family: FontAwesome;
    content: "\f056";
    padding-right: 5px;
    font-size: 30px;
}
.panel-title > a.collapsed:before {content: "\f055";}

.block-div .form-check-inline + .form-check-inline{margin-left: 1.5rem;}
.sub-progrem {background: #f6f6f6;padding: 20px 25px;}
.sub-progrem .sub_pro{font-size: 16px;text-decoration: underline;display: inline-block;line-height: normal; cursor: pointer;color: #0e0844;}
.sub-progrem .close-btn {color: red;font-size: 17px;font-weight: 600;}
.sub-form { background: #f6f6f6;padding: 10px 10px 20px;width: 100%;}
.desc label { font-weight: 500;}
.form-sections .card-title {font-size: 16px;color:#03bb83;border-bottom: 1px solid #a5a3a3;padding-bottom: 5px;margin: 30px 0 20px;}
.inner-subform .sub-progrem {position: relative;}

.sub-progrem {background: #f6f6f6;padding: 15px 20px;}
.edit-btn{color:#807b7b; font-size:20px;}
.form-sections.parent_div {margin-bottom: 20px;}
.subD {padding-left: 40px;}
button.btn.btn-secondry {
    background: #f2f6ff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}
.form-head .btn{ background: #f2f6ff; border: 1px solid #ddd; font-size: 16px; font-weight: 600;}
.form-head .btn img{max-width: 16px; margin: -2px 8px 0 0;}
span.cancel-btn.ml-3 {font-size: 20px; font-weight: 600;}
.sub-progrem .close-btn.newt {color: #3c3c3c;}
.gc{color:green;}
ul.listing{float:left; width:50%; margin:0px;}
ul.listing.listing1{float:left; width:100%; margin:0px;}
ul.listing li{ padding:5px 0;}
ul.listing.listing1 li{float:left; width:33.33%;}
.sub-title{  border-bottom: #dadada solid 1px;padding-bottom: 6px;}
	.sub-menu{ max-height:150px; overflow:auto !important;}
	.repayment-form-modal {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    float: left;
    width: 100%;
}
.listing-modal ul {
    padding: 0;
}
.repayment-form-modal li {
    width: 50% !important;
    padding: 5px!important;
    background: transparent !important;
    border: 1px solid #dddddd;
    font-size: 15px;
    border-bottom: 0;
    margin-bottom: 0!important;
    border-right: 0;
	    float: left;
}
.listing-modal-left {
    width: 60%;
    float: left;
	font-weight:600;
}
.listing-modal-right {
    width: 40%;
    float: left;
}
.multiselect-native-select .btn-group{
    width: 100%;
}
.multiselect.dropdown-toggle{
    width: 100%;
    text-align: left;
    background: no-repeat;
    border: #d8d8d8 solid 1px;
    color: #495057;
    font-size: 13px; letter-spacing: 1px;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 9px;
}
.table tr td i {
    color: #138864;
}
.charge_parent_div {width:100%;}
a.disabled {
  pointer-events: none;
  cursor: default;
}
