.top-content{font-size: 16px;display:block;}
.bottom-content{font-size: 14px;display:block; color: #707070;}
.edit-icon{border:1px solid #E1E1E1; width:35px; height:35px; text-align: center; vertical-align: middle;background: transparent;border-radius:6px; outline: 0; padding:0;}

.show{display:block;}
.modal{background: rgba(0, 0, 0, 0.60);}

.mode-payment {text-align: center;width: 100%;display: block; position: relative;}
.mode-payment ul {margin: 0;padding: 0;}
.mode-payment ul li{list-style: none; width:4px; height: 4px; background: #777777; border-radius: 50px; display: inline-block;}
.mode-payment .payment-invoice{display: none; position: absolute; list-style: none;bottom:0;right: 0;width: 150px; box-shadow:1px 1px 7px 1px #ccc;background: #fff;padding: 10px;}
.mode-payment:hover .payment-invoice{display: block;}
ul.payment-invoice li{width: 100%;background: transparent; padding:5px; height: auto;border-radius: 0;text-align: left; cursor: pointer; color:#707070; font-size:14px;}
ul.payment-invoice li:hover{background:#DEF8FB;}
.increment{width: 90px;line-height: 36px;border: 0;}
.col-form-label{font-size:14px;}

ul.new-commodity{width: 100%; float: left; text-align: left;padding:0; background: #fff;border: 1px solid #ccc;border-radius:5px;}
ul.new-commodity li{ display: inline-block; list-style: none; width: 100%;}
ul#ChooseCommodityBottom {position: absolute;left: 0;top: 59px;padding: 0;border-radius: 0 0 5px 5px;z-index: 1;}
.relative{position: relative;}
ul#ChooseCommodityBottom li{border-bottom: 1px solid #cccccc;}
ul#ChooseCommodityBottom li:last-child{margin-bottom:0;border-bottom:0;}
#NewCommodityFile button {position: absolute;right: 0;top: 0;background: transparent;border: 0;line-height: 60px;width: 100%;    text-align: right;padding-right: 18px;}
#NewCommodityFile button img{transform: rotate(90deg);}
ul#ChooseCommodityBottom li{cursor: pointer; line-height:40px; }
ul#ChooseCommodityBottom li:hover{background: #f5f5f5;}
ul li .new-com-left img{margin:10px;}
#ChooseCommodityBottom {
  display: none;
}

#ChooseCommodityBottom.visible {
  display: block;
}

.open{display: block !important;}



